<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>CodexMicroMapper</string>
    <key>CFBundleIconFile</key>
    <string>CodexMicroMapping.icns</string>
    <key>CFBundleIdentifier</key>
    <string>local.codex.micro.mapper</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Codex Micro Mapper</string>
    <key>CFBundleDisplayName</key>
    <string>Codex Micro Mapper</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.8.1</string>
    <key>CFBundleVersion</key>
    <string>24</string>
    <key>CodexMicroMapperAuthor</key>
    <string>Steve</string>
    <key>CodexMicroMapperReleaseDate</key>
    <string>2026-09-08</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
